{% block image_collection_widget %}
    {% trans_default_domain 'media' %}

    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/media/build/bundle.css' ) }}"/>

    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}

    {{- block('form_widget') -}}

    {% if allow_add %}
        <div class="image-collection-actions">
            <button
                    data-braunstetter--media-bundle--form-collection-target="addButton"
                    data-action="braunstetter--media-bundle--form-collection#addItem"
                    {% if max_items <= value.count %}class="hidden"{% endif %}
            >
                {{ source('@Media/images/svg/icon-plus.svg') }}
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block image_collection_item_widget %}

    {{ block('image_preview') }}
    {{ block('hidden_file') }}

    <div class="form-errors">
        {{ form_errors(form.file) }}
    </div>

    <div class="delete-able-image">
        {{ block('upload_label') }}

        {% if form.parent.vars.allow_delete %}
            {{ block('trash_link') }}
        {% endif %}
    </div>

    {{ form_rest(form) }}
{% endblock %}


{% block image_preview %}
    <div class="image-preview">
        {% if form.vars.value.fullPath|default(null) is not null %}
            <img src="{{ form.vars.value.fullPath|imagine_filter('form_preview') }}"
                 alt="{{ form.vars.value.altText ?? form.vars.value.fileName }}"/>
        {% else %}
            <img src="{{ asset(placeholder_image_path) }}" alt="avatar"/>
        {% endif %}
    </div>
{% endblock %}

{% block hidden_file %}
    <div class="hidden-input">
        {{ form_widget(form.file) }}
    </div>
{% endblock %}

{% block upload_label %}
    {% trans_default_domain 'media' %}
    <label for="{{ form.file.vars.id }}">
        {{ source('@Media/images/svg/icon-cloud-upload.svg') }}
        <span>{{ 'choose_file'|trans }}</span>
    </label>
{% endblock %}

{% block trash_link %}
    <a href="{{ delete_path ?? '#' }}"
       {% if delete_path is not defined %}data-action="braunstetter--media-bundle--form-collection#removeItem"{% endif %}>{{ source('@Media/images/svg/icon-trash.svg') }}</a>
{% endblock %}